:root {
    --main-color: #EB8D00;
}

@keyframes fadeIn {
    from {
        background: rgba(0, 0, 0, 0);
    }
    to {
        background: rgba(0, 0, 0, 0.7);
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-out forwards;
}

/* CSS for slide-up animation */
@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

.slide-up {
    animation: slideUp 0.2s ease-out forwards;
}

/* CSS for slide-up animation */
@keyframes slideRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-right {
    animation: slideUp 0.2s ease-out forwards;
}

/* CSS for background fade-out animation */
@keyframes fadeOut {
    from {
        background: rgba(0, 0, 0, 0.7);
    }
    to {
        background: rgba(0, 0, 0, 0);
    }
}

.fade-out {
    animation: fadeOut 0.5s ease-out forwards;
}

/* CSS for slide-down animation */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

.slide-down {
    animation: slideDown 0.5s cubic-bezier(0.6, -0.15, 0.01, 1.42) forwards;
}

/* Active animation */
@keyframes ehPAbtU60pY2_ts__ts {
  0% {transform: translate(21.5px, 51.48412px) scale(1, 1.325794);}
  100% {transform: translate(21.5px, 51.48412px) scale(1, 0.525922);}
}

@keyframes ehPAbtU60pY5_c_o {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.marker-icon.active #ehPAbtU60pY2_ts {
  animation: ehPAbtU60pY2_ts__ts 400ms linear 1 forwards;
}

.marker-icon.active #ehPAbtU60pY5 {
  animation: ehPAbtU60pY5_c_o 400ms linear 1 forwards;
}

/* Deactive animation */
@keyframes eSFB4GN6XpZ2_ts__ts {
  0% {transform: translate(21.5px, 51.48412px) scale(1, 0.525922);}
  100% {transform: translate(21.5px, 51.48412px) scale(1, 1.325794);}
}

@keyframes eSFB4GN6XpZ5_c_o {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.marker-icon.deactive #eSFB4GN6XpZ2_ts {
  animation: eSFB4GN6XpZ2_ts__ts 400ms linear 1 forwards;
}

.marker-icon.deactive #eSFB4GN6XpZ5 {
  animation: eSFB4GN6XpZ5_c_o 400ms linear 1 forwards;
}

@keyframes shine {
    0% {
        left: -75%;
    }
    100% {
        left: 125%;
    }
}

@keyframes foldingDown {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}

.folding-down {
    animation: foldingDown 0.2s ease-out forwards;
}











