:root {
    --main-color: #EB8D00;
    --tg-color-scheme: light;
    --tg-theme-bg-color: #ffffff;
    --tg-theme-button-color: #3390ec;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-hint-color: #707579;
    --tg-theme-link-color: #00488f;
    --tg-theme-secondary-bg-color: #f4f4f5;
    --tg-theme-text-color: #000000;
    --tg-theme-header-bg-color: #ffffff;
    --tg-theme-accent-text-color: #3390ec;
    --tg-theme-section-bg-color: #ffffff;
    --tg-theme-section-header-text-color: #3390ec;
    --tg-theme-subtitle-text-color: #707579;
    --tg-theme-destructive-text-color: #df3f40;
    --tg-viewport-height: 100vh;
    --tg-viewport-stable-height: 100vh;
}

.map-container {
    flex: 1;
}

#map {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: width 0.5s ease, height 0.5s ease;
}

.driver-info-block {
    z-index: 2;
    background-color: var(--main-color);
    position: absolute;
    bottom: 5%;
    height: 10vh;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 30px;
    box-shadow: 0px 0px 20px var(--main-color);
    display: flex;
    overflow: hidden;
}

.taxi-img {
    margin: 10px;
    margin-left: 0;
}

.description-driver {
    color: white;
    width: auto;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.car-name {
    font-size: 5vw;
    font-weight: bold;
    margin: 0;
}

.car-number {
    font-size: 5.5vw;
    font-weight: bold;
    margin: 0;
}
