<div class="controls" id="control-panel">
        <div class="input-group" id="input-group-from">
            <label for="from">Звідки їдемо?</label>
            <i class="fa-regular fa-circle-dot input-icon"></i>
            <input type="text" id="from" placeholder="Звідки їдемо?" autocomplete="off">
            <input type="hidden" id="from_lat">
            <input type="hidden" id="from_lng">
        </div>
        <div class="input-group" id="input-group-entrance">
            <label for="from">Під'їзд</label>
            <input type="text" id="entrance_from" placeholder="Під'їзд" autocomplete="off">
        </div>
        <div class="input-group" id="input-group-to">
            <label for="to">Куди їдемо?</label>
            <i class="fas fa-arrow-right input-icon"></i>
            <input type="text" id="to" placeholder="Куди їдемо?" autocomplete="off">
            <input type="hidden" id="to_lat">
            <input type="hidden" id="to_lng">
        </div>
        <div class="list-group">
            <form>
                <div class="select-container">
                    <i class="fa-solid fa-taxi"></i>
                    <select name="class" id="class"></select>
                </div>
            </form>
        </div>
        <div class="button-edit-price">
            <button class="button" id="edit_price" value="...">
                <i class="fa-solid fa-right-left button-icon"></i>
                Змінити ціну
            </button>
        </div>
        <div class="button-setting" style="justify-content: flex-start">
            <button class="button" id="method_pay" value="Карта">
                <i class="fa-regular fa-credit-card button-icon" id="payIco"></i>
            </button>
        </div>
        <div class="order">
            <button class="order-button">Замовити</button>
        </div>
        <div class="button-setting" style="justify-content: flex-end">
            <button class="button" id="other" value="cash">
                <i class="fa-solid fa-sliders button-icon"></i>
            </button>
        </div>
    </div>