:root {
    --main-color: #EB8D00;
    --tg-color-scheme: light;
    --tg-theme-bg-color: #ffffff;
    --tg-theme-button-color: #3390ec;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-hint-color: #707579;
    --tg-theme-link-color: #00488f;
    --tg-theme-secondary-bg-color: #f4f4f5;
    --tg-theme-text-color: #000000;
    --tg-theme-header-bg-color: #ffffff;
    --tg-theme-accent-text-color: #3390ec;
    --tg-theme-section-bg-color: #ffffff;
    --tg-theme-section-header-text-color: #3390ec;
    --tg-theme-subtitle-text-color: #707579;
    --tg-theme-destructive-text-color: #df3f40;
    --tg-viewport-height: 100vh;
    --tg-viewport-stable-height: 100vh;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
}