@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
    --main-color: #EB8D00;
    --tg-color-scheme: light;
    --tg-theme-bg-color: #ffffff;
    --tg-theme-button-color: #3390ec;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-hint-color: #707579;
    --tg-theme-link-color: #00488f;
    --tg-theme-secondary-bg-color: #f4f4f5;
    --tg-theme-text-color: #000000;
    --tg-theme-header-bg-color: #ffffff;
    --tg-theme-accent-text-color: #3390ec;
    --tg-theme-section-bg-color: #ffffff;
    --tg-theme-section-header-text-color: #3390ec;
    --tg-theme-subtitle-text-color: #707579;
    --tg-theme-destructive-text-color: #df3f40;
    --tg-viewport-height: 100vh;
    --tg-viewport-stable-height: 100vh;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    width: 100%;
}

input, button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
}

