:root {
    --main-color: #EB8D00;
}


.geo-block {
    z-index: 5;
    position: fixed;
    bottom: 250px;
    width: 42px;
    height: 42px;

    display: flex;
    border-radius: 10px;
    border: 0;
    justify-content: center;
    align-items: center;
    right: 25px;
    margin-bottom: 5px;

    font-size: 21px;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
    box-shadow: 0px 0px 10px #00000073;
}

.changePriceModal {
    z-index: 99999;
    width: 100%;
    position: absolute;
    display:  none;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.price-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    bottom: 0px;
    height: 200px;
    position: fixed;
    margin-top: 100%;
    padding: 5%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    overflow: auto;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

#savePriceButton {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.change-price-text {
    font-size: 23px;

    color: var(--tg-theme-text-color);
}

#changePriceInput {
    width: 100%;
    margin: 0;
    height: 6px;
    border-radius: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: var(--tg-theme-secondary-bg-color);
    color: #edd300;
}

#search-place-by-marker {
    display: none;
    z-index: 5;
    margin-top: 100%;
    bottom: 20px;
    position: absolute;
    width: 85%;
    margin: 2.5%;
    padding: 5%;
    background: var(--tg-theme-bg-color);

    box-shadow: 0px 0px 15px var(--tg-theme-hint-color);
    border-radius: 30px;
}

#search-place-by-marker span {
    font-size: 17px;
    line-height: 30px;

    color: var(--tg-theme-text-color);
}

#savePlaceButton {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: var(--main-color);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;

    margin-top: 15px;
}

.center-marker {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    pointer-events: none;
}

.notification {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ff6600;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    z-index: 1000;
    max-width: 300px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification.show {
    opacity: 1;
}

.notification .icon {
    margin-right: 15px;
}

.notification .icon i {
    font-size: 24px;
}

.notification .message {
    flex-grow: 1;
}

.notification .message .title {
    font-weight: bold;
    margin-bottom: 5px;
}

.notification .message .body {
    font-size: 14px;
}

